@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Black/Gilroy-Black.eot');
  src:
    url('../fonts/Gilroy-Black/Gilroy-Black.woff') format('woff'),
    url('../fonts/Gilroy-Black/Gilroy-Black.ttf') format('truetype'),
    url('../fonts/Gilroy-Black/Gilroy-Black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold/Gilroy-Bold.eot');
  src:
    url('../fonts/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype'),
    url('../fonts/Gilroy-Bold/Gilroy-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.eot');
  src:
    url('../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf') format('truetype'),
    url('../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light/Gilroy-Light.eot');
  src:
    url('../fonts/Gilroy-Light/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light/Gilroy-Light.ttf') format('truetype'),
    url('../fonts/Gilroy-Light/Gilroy-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium/Gilroy-Medium.eot');
  src:
    url('../fonts/Gilroy-Medium/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium/Gilroy-Medium.ttf') format('truetype'),
    url('../fonts/Gilroy-Medium/Gilroy-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot');
  src:
    url('../fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf') format('truetype'),
    url('../fonts/Gilroy-SemiBold/Gilroy-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular/Gilroy-Regular.eot');
  src:
    url('../fonts/Gilroy-Regular/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular/Gilroy-Regular.ttf') format('truetype'),
    url('../fonts/Gilroy-Regular/Gilroy-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold/Roboto-Bold.eot');
  src:
    url('../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light/Roboto-Light.eot');
  src:
    url('../fonts/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'),
    url('../fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?x01gtm');
  src:
    url('../fonts/icomoon/icomoon.eot?x01gtm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?x01gtm') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?x01gtm') format('woff'),
    url('../fonts/icomoon/icomoon.svg?x01gtm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
